/*header_top*/
li{
    list-style: none;
}
body,p,h1,h2,h3,h4,h5,h6,button,input,ul,ol{
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
/* 清除浮动 */
.clearfix:after{
	content: '';
	display: block;  
	clear: both;
}
.f-l{
    float: left;
}
.f-r{
    float: right;
}
.bg{
    background-color: #f8f8f8;
}
.header_top{
    height:1.9rem;
    font-size:0.8rem;
}
.header_icon{
    background: url(//m.tuniucdn.com/fb2/t1/G2/M00/A7/4D/Cii-T1huARyIMMpIAAAXFvgcFtQAAGXYQP-fK8AABcu551.png) 0 0 no-repeat;
    display: inline-block;
}
.icon_weibo{
    background-position: -40px -50px;
    width: 18px;
    height: 13px;
}
.icon_phone{
    margin-top: 0px !important;
    width: 11px;
    height: 26px;
    background: url(//ssl1.tuniucdn.com/img/201508241400/header/head_icon_qrcode.gif) -10px 0;
    vertical-align: top;
}
.icon_weixin{
    background-position: -63px -49px;
    width: 19px;
    height: 14px;
}
.icon_mailbox{
    width: 15px;
    height: 10px;
    background-image: url(https://m.tuniucdn.com/fb2/t1/G1/M00/DA/0A/Cii9EFj-uD2ILb1PAAACej4pGYUAAJiygP__W4AAAKS092.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 10px;
    display: inline-block;
    margin-top: 10px;
}
.header_top_register{
    height:22px;width:110px;
}
.list-group-item{
    border-width:0;
}
.header_top.bg a{
    color:#404040;
}
.header_top ul{
    line-height: 29px;
}
.header_top_icon{
    background: url(//m.tuniucdn.com/fb2/t1/G2/M00/A7/4D/Cii-T1huARyIMMpIAAAXFvgcFtQAAGXYQP-fK8AABcu551.png) 0 0 no-repeat;
    display: inline-block;
}
.icon_arrow{
    background-position: -16px -13px;
    width: 5px;
    height: 3px;
    transition:1s;
    transform:rotateZ(180deg);
}
.header_top a:hover{
    color: #ff8800;
}
.header_top .position-absolute{
    top:14px;
}
.icon_arrow:hover{
    background-position: -8px -13px;
}
.icon_weibo:hover{
    background-position: -86px -49px;
}
.icon_weixin:hover{
    background-position: -92px -7px;
}



/*header_search*/
.header_search{
    height: 100px;
}
.header_left_img img{
    width: 280px;
}
.ct_name img{
    width:61px;height:16px;
}
.ct_name{
    left:165px;
}
.ct_name span{
    color: #000;
    font-size: 14px;
    display: inline-block;
}
.center_search{
    margin-top: 28px;
}
.center_search::after{
    content:'';
    display:block;
    clear:both;
}
.center_left_search{
    width: 85px;
    height: 40px;
    line-height: 34px;
    background: #f8f8f8;
    padding-left: 15px;
    color: #999;
    border-left: 3px solid #f80;
    border-top: 3px solid #f80;
    border-bottom: 3px solid #f80;
}
.center_left_search span{
    font-size: 12px;
    line-height: 34px;
}

.search_icon{
    background: url(../image/search_icon.jpg) center right no-repeat;
    position: relative;
    top: -20px;
    left: 53px;
    width: 8px;
    height: 8px;
}
.center_search input{
    color:rgb(153, 153, 153);
    width:290px;
    height: 40px;
    line-height: 40px;
    border:0px;
    border-left: 1px solid #e5e5e5;
    border-top: 3px solid #f80;
    border-bottom: 3px solid #f80;
    padding: 5px;
    outline: none;
    font-size: 14px;
}
.center_search div ul{
    top:7px;
    right:10px;
}
.center_search div ul li{
    background: #f3f3f3;
    font-size: 12px;
    border-radius: 12px;
    line-height: 25px;
    text-align: center;
    height:25px;
    width: 30px;
}
.center_search div ul li a{
    color:#404040;
}
.center_search div ul li a:hover{
    color:#ff8800;
}
.my_btn{
    width: 67px;
    height: 40px;
    background-color: #f80;
    cursor:pointer;
    color:#fff;
    font-size: 14px;
    outline: none !important;
}
.center_search span a{
    font-size: 14px;
    color:#999;
}
.search_right_img{
    width:28px;height:28px;
}
.search_right a span{
    width:50px;
    font-size: 12px;
    color:#999;
    top:42px;
    left:50px;
}
.search_right a span em{
    font-style: normal;
    color:#22c233;
}
.search_end a img{
    margin-left: 61px;
    margin-top: 41px !important;
}
.search_end a span{
    width:95px;
    margin-left: 41px;
}
.search_end a span em{
    font-size: 14px;
    color:#f80;
}
.search_right span img{
    margin-left: 98px;
    margin-top: 8px;
}
.search_end a span i{
    background-image: url('../image/1.png');
    width: 7px;
    height: 3px;
    position: absolute;
    top: 7px;
    right: -8px;
}
.search_img{
    background: url('../image/site_contact_bg.png') 810px bottom no-repeat;;
    height:86px;
}

/*menu_panel*/


.menu_bg{
    background-color: #2dbb55;
    height:40px;
    line-height: 40px;
}
.menu_font{
    color:#fff;
    text-align: center;
}
.menu_border:not(:first-child){
    border-right:1px solid #404040a3;
}

.breadcrumb-item + .breadcrumb-item::before{
    content: '|';
}
.menu_bg ul li{
    width:100%;
}

/* 合并项目时需要删除margin */
.layer-title{
    border-bottom: 3px solid #e15b39;
    margin-top: 500px;
    line-height: 32px;
}
.layer-tabs{
    height: 32px;
}
.layer-title>h3{
    float: left;
    width: 220px; 
    margin-left: 24px; 
}

.layer-tabs>li{
    float: left;
    padding: 0px 10px;
    text-align: center;
}
.layer-tabs>li a{
    text-decoration: none;
    color: #333;
}
.layer-body{
    padding-bottom: 22px;
    width:950px;
    background:url(../image/index/Cii-s10ZYoOIRpm2AAJiMfV6yE0AAXQjAP6x0UAAmJJ58.jpeg) 0 0 no-repeat;
    background-size:100%; 
}
.letf-content-box{
    width: 225px;
    margin-top: 280px;
}
.layer-body-left{
    width: 225px;
}
.layer-body-right{ 
    width: 725px;
    padding-top: 20px;
}
.letf-content-box>li{
    width: 200px;
    margin: auto;
    line-height: 30px;
    margin-top: 6px;
    background: #fff;
    color: #333;
    font-size: 14px;
    text-indent: 15px;
    border-radius: 12px;
}
.go-input{
    text-indent: 0;
    padding: 0 8px;
    color: #fff;
    float: right;
    margin-top:5px; 
    font-size: 12px;
    margin-right:10px;
    border-radius: 10px;
    line-height: 22px; 
    background: #0083f6;
}
.layer-item{
    padding: 10px 8px 20px; 
    margin:0 6px 6px 0 ; 
    float: left;
    width: 215px;
    background: #fff;
}
.item-img>img{
    width: 215px;
}
.item-img>p{
    padding:0 8px; 
    height: 28px;
    color: #fff;
    margin-top:-36px; 
    font-size: 13px;
    overflow: hidden;
    margin-bottom: 15px;
}
.price{
    font-size: 18px;
    color: #ff6600;
}
.satisfaction{
    font-size: 14px;
    color: #333;
}




